:root {
  --white: #fff;
  --black: #000;

  /* Primary colors*/
  --primary-1: #2b8379;
  --primary-2: #19a596;
  --primary-3: #7fd1c7;
  --primary-4: #7fd1c7;
  --primary-5: #d0f3ef;

  /* Neutral colors */
  --neutral-1: #2c2c2c;
  --neutral-2: #434343;
  --neutral-3: #94868b;
  --neutral-4: #d9cfd3;
  --neutral-5: #f2ecee;

  /* Accent-blue colors */
  --accent-1: #970e3d;
  --accent-2: #c43464;
  --accent-3: #de7699;
  --accent-4: #e6c3ce;
  --accent-5: #fff2f7;
}

body {
  background-color: var(--neutral-5);
  margin: 0;
  min-height: 100vh;
}

#root {
  min-height: 100vh;
}

h1 {
  font-size: 36px;
  font-weight: 600;
}

h2 {
  font-size: 28px;
  font-weight: 500;
}

h3 {
  font-size: 24px;
  font-weight: normal;
}

p {
  line-height: 30px;
  font-size: 18px;
}

a {
  color: var(--primary-2);
  font-weight: bold;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

.rounded {
  border-radius: 30px;
}

.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 20px;
}

/* BUTTONS */
.btn {
  border-radius: 3px;
  display: inline-block;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  padding: 13px 40px;
  border: 0;
  transition: background-color 200ms, color 200ms;
}

.btn-default {
  color: var(--white);
  background-color: var(--primary-1);
}

.btn-default:hover,
.btn-outline:hover {
  color: var(--white);
  background-color: var(--primary-2);
  text-decoration: none;
}

.btn-default:active,
.btn-outline:active {
  color: var(--primary-1);
  background-color: var(--primary-4);
}

.btn-default[disabled],
.btn-outline[disabled] {
  color: var(--primary-4);
  background-color: var(--primary-5);
  cursor: default;
}

.btn-accent {
  color: var(--white);
  background-color: var(--accent-1);
}

.btn-accent-g {
  color: var(--white);
  background-color: var(--primary-1);
}

.btn-accent-g:hover {
  color: var(--white);
  background-color: var(--primary-2);
  text-decoration: none;
}

.btn-accent:hover {
  color: var(--white);
  background-color: var(--accent-2);
  text-decoration: none;
}

.btn-accent:active {
  color: var(--accent-1);
  background-color: var(--accent-4);
}

.btn-accent[disabled] {
  color: var(--accent-4);
  background-color: var(--accent-5);
  cursor: default;
}

.btn-outline {
  color: var(--primary-1);
  background-color: var(--primary-4);
  border: var(--primary-1) 2px solid;
  box-shadow: 1px 1px 7px #c4c4c4;
  padding: 8px 25px;
  border-radius: 10px;
}

/* FORMS */
.form h2 {
  font-size: 24px;
  font-weight: 400;
}

.form h3 {
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 15px;
}

.form-section {
  border-bottom: var(--neutral-4) solid 1px;
  margin-bottom: 20px;
}

.input-required {
  color: var(--primary-2);
  text-decoration: none;
  font-weight: bold;
  padding: 0 1px;
}

.label {
  display: block;
  font-weight: 500;

}

.input {
  font-size: 16px;
  margin-top: 1em;
  margin-bottom: 1.5em;
  padding: 0.75em 0.5em;
  min-width: 200px;
  width: 75%;
  border: none;
  border-left: 7px solid var(--neutral-4);
  transition: border-left-color 160ms;
  background-color: white;
}

.textarea {
  min-width: 380px !important;
  width: 90% !important;
  display: flex;
  flex-direction: column;
}

::placeholder {
  color: var(--neutral-4);
}

.input:focus {
  outline: none;
  border-left: 7px solid var(--primary-1)  !important;
}

div.error {
  padding: 10px;
  background: var(--white);
  border: 2px solid var(--accent-1);
  color: var(--accent-1);
  font-weight: bold;
  border-radius: 4px;
  margin: 20px 0;
}

/* NAVBAR */
.navbar {
  background-color: white;
  padding: 10px;
  box-shadow: 0px 3px 7px 1px rgba(0, 0, 0, 0.07),
    0px -3px 7px 1px rgba(0, 0, 0, 0.07);
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.nav-brand {
  font-size: 40px;
  font-weight: 450;
  text-decoration: none;
  padding-left: 20px;
  color: initial;
}
.nav-brand:hover {
  text-decoration: none;
}
.nav-brand:active {
  color: var(--primary-1);
}

.navbar ul {
  list-style-type: none;
  overflow: hidden;
  padding-right: 20px;
  text-align: center;
}

.navbar li {
  display: inline-block;
}

.nav-item a {
  text-decoration: none;
  font-weight: bold;
  color: var(--primary-1);
  display: inline-block;
  text-align: center;
  padding: 13px 20px;
  min-width: 65px;
  border: 2px solid var(--primary-1);
  border-radius: 5px;
  margin: 5px;
}

.nav-item:hover {
  transform: scale(1.05);
}

.nav-item:hover a {
  text-decoration: none;
  color: var(--primary-2);
}

.nav-item a.active {
  font-weight: bold;
}

.nav-cart {
  width: 30%;
  text-align: center;
  padding: 15px 15px;
}

.navbar-item-log {
  width: 25%;
  display: flex;
  justify-content: space-around;
}

.navbar-user-login {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 10%;
  font-size: 1.3rem;
}

.navbar-user-login .text {
  margin: 5px;
}

.navbar-user-logout {
  display: flex;
  justify-content: space-around;
  justify-content: space-between;
  align-items: center;
  width: 18%;
  font-weight: bold;
  margin-right: 10px;
}

.navbar-user-logout p {
  margin-right: 5px;
}

/* TABS */
.tabs {
  margin: 0 0 40px 0;
  border-bottom: var(--neutral-4) solid 1px;
}

.tabs ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding-bottom: 10px;
}

.tabs li {
  display: inline-block;
}

.tabs a {
  text-decoration: none;
  padding-bottom: 10px;
  color: var(--black);
  padding-left: 15px;
  padding-right: 15px;
}
.tabs .tab-active {
  border-bottom: 7px solid var(--primary-1);
}

/* Pages */
.home-layout {
  display: grid;
  grid-template-columns: 1fr auto;
  place-items: center;
  grid-gap: 20px;
  padding-top: 40px;
  padding-bottom: 40px;
}

.about-layout {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-gap: 20px;
  padding-top: 40px;
  padding-bottom: 40px;
}

.products-layout {
  padding-top: 40px;
  padding-bottom: 80px;
}

.product-details-layout {
  padding-top: 40px;
  padding-bottom: 40px;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: 40px;
}

.login-form-layout, .signup-form-layout {
    padding-top: 40px;
    padding-bottom: 40px;
    display: grid;
    grid-template-columns: 1fr;
}


/* Products */
.products-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 25px;
}

.product {
  background-color: white;
  padding: 15px 20px;
  border-radius: 25px;
  display: grid;
  grid-template-columns: auto 1fr auto;
  border-left: 5px solid var(--accent-1);
}

.product-name {
  font-weight: 600;
}

.product-info {
  padding-left: 25px;
}

.product-checkout {
  display: grid;
  grid-template-rows: 1fr auto;
  justify-items: end;
}

.product-delete {
  background-color: white;
  padding: 5px 10px;
  color: var(--accent-1);
  border-color: var(--accent-2);
  font-size: 14px;
  margin: 5px;
}

.product-delete:hover {
  color: white;
  background-color: var(--accent-1);
}

.product-details {
  background-color: lightgray;
  padding: 5px 10px;
  color: gray;
  border-color:gray;
  font-size: 14px;
  margin: 5px;
}

.product-details:hover {
  background-color: gray;
  color: white;
}

.product-image-container {
  position: relative;
}

.product-quantity-container {
  position: absolute;
  top: 8px;
  right: -15px;
  background-color: white;
  border-radius: 50%;
  padding: 5px;
}

.product-quantity {
  background-color: var(--primary-1);
  color: white;
  border-radius: 50%;
  font-size: 14px;
  width: 23px;
  height: 23px;
  display: grid;
  place-items: center;
}

.product-image {
  background-color: var(--neutral-5);
  padding: 10px;
  border-radius: 20px;
  transition: transform 180ms ease-out;
}
.product:nth-child(2n):hover .product-image {
  transform: scale(1.01) rotateZ(2deg);
}
.product:nth-child(2n + 1):hover .product-image {
  transform: scale(1.01) rotateZ(-2deg);
}

.product h3 {
  margin: 0;
}

.product-btn-div {
  display: flex;
}

/* product details page */
.product-details-image {
  background-color: white;
  padding: 10px;
  border-radius: 20px;
}

.table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 10px;
}

.table thead {
  background-color: var(--primary-1);
  color: white;
  border: 1px solid white;
  border-top: 0;
}
.table.table-cart.red-table thead {
  background-color: var(--accent-1);
}
.table th {
  padding: 15px;
}
.table td {
  padding: 10px;
}

.table tbody {
  font-size: 18px;
  border: 1px solid white;
}
.table-cart {
  text-align: center;
}
.table-cart tbody td:first-child {
  display: flex;
  align-items: center;
  gap: 15px;
  padding-left: 20px;
}

.table-nutrition tbody td:last-child {
  text-align: center;
}

.table tbody tr:nth-child(2n) {
  background-color: white;
}

.table tbody tr:nth-child(2n + 1) {
  background-color: var(--neutral-5);
}

.th-product {
  text-align: left;
  padding-left: 25px;
}

.cart-highlight {
  background-color: var(--accent-1);
  color: white;
}

.pay-form {
  padding-top: 30px;
}

/* admin page */

.admin-layout {
  padding-top: 40px;
  padding-bottom: 40px;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: 40px;
}

.user {
background-color: white;
border-radius: 20px;
margin: 15px;
padding: 15px;
display: flex;
justify-content: space-between;
width: 70%;
font-weight: bold;
font-family: Georgia, 'Times New Roman', Times, serif;
border-left: 5px solid var(--accent-1);

}

.admin-list-layout {
  margin: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-admin {
  color: var(--accent-1);
}

.success {
  color: var(--primary-1);
  font-weight: bold;
  font-size: large;
  display: flex;
  justify-content: center;
}

.product-edit {
  background-color: lightgray;
  padding: 5px 10px;
  color: gray;
  border-color:gray;
  font-size: 14px;
  margin: 5px;
}

.product-delete {
  margin: 15px;
  height: 30px;
  display: flex;
  align-items: center;
  padding-bottom: 7px;
}

.product-edit:hover {
  background-color: gray;
  color: white;
}

.admin-product-list-layout {
    margin: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.margin {
  margin: 10px;
}

.action-btns {
  display: flex;
  align-items: end;
}

.product-pic {
  width: 100%;
  border-radius: 15px;
}

.img-container {
  width: 160px;
  margin-bottom: 15px;
}

.edit-product-form {
  padding: 20px;
  margin: 15px;
  border-radius: 15px;
  box-shadow: 0px 0px 5px black;
}

label, .bold {
  font-weight: bold;
}

.create-product-btn {
  align-self: start;
  margin-top: 15px;
}

.admin-product-btns {
  align-self: end;
}

.red-border {
  border: solid 1px var(--accent-1);
}

.user-cart-div {
  width: 25%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.img {
  border-radius: 50%;
}

@media (max-width: 1200px) {
  .navbar-user-logout {
    flex-direction: column;
  }
}

@media (max-width: 900px) {
  .navbar-user-login {
    flex-direction: column;
  }
}

@media (max-width: 700px) {
  .home-layout,
  .about-layout,
  .products-grid,
  .product-details-layout {
    grid-template-columns: 1fr;
  }
  .home-image {
    order: -1;
  }
}

@media (max-width: 500px) {
  .navbar ul {
  padding: 0 0 0 0;
  }
}



/* Loader */
.spinner {
  animation: rotator 1.4s linear infinite;
}

@keyframes rotator {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(270deg);
  }
}
.path {
  stroke-dasharray: 187;
  stroke-dashoffset: 0;
  transform-origin: center;
  animation: dash 1.4s ease-in-out infinite, colors 5.6s ease-in-out infinite;
}

@keyframes colors {
  0% {
    stroke: #4285f4;
  }
  25% {
    stroke: #de3e35;
  }
  50% {
    stroke: #f7c223;
  }
  75% {
    stroke: #1b9a59;
  }
  100% {
    stroke: #4285f4;
  }
}
@keyframes dash {
  0% {
    stroke-dashoffset: 187;
  }
  50% {
    stroke-dashoffset: 46.75;
    transform: rotate(135deg);
  }
  100% {
    stroke-dashoffset: 187;
    transform: rotate(450deg);
  }
}
